  section#about {

      background: linear-gradient(to bottom, #5656b7, #140367);
      background-attachment: fixed;
      background-size: cover;
      color: #191919;
      animation: none; 
    }
    .LightRays {

      background-size: cover;



    }

